<!-- <h1>Angular</h1>
<courses></courses> <br/>
<input type="text" [(ngModel)]="title"> <br/>

{{ title | titleCase }} <br/>

<img [src]="imageUrl" /> <br/><br/>

<button (click)="onClick()">Button</button> -->

<!-- <h1>Hello World</h1> -->

<!-- <favorite [isFavorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></favorite>
<span class="glyphicon glyphicon-user"></span> -->

<bootstrap-panel>
    <div class="heading">Heading</div>
    <div class="body">
        <h2>Body</h2>
        <p>Some content here...</p>
    </div>
</bootstrap-panel>