<!-- <h1>Angular</h1>
<courses></courses> <br/>
<input type="text" [(ngModel)]="title"> <br/>

{{ title | titleCase }} <br/>

<img [src]="imageUrl" /> <br/><br/>

<button (click)="onClick()">Button</button> -->

<!-- <h1>Hello World</h1> -->

<!-- <favorite [isFavorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></favorite>
<span class="glyphicon glyphicon-user"></span> -->

<!-- <bootstrap-panel>
    <ng-container class="heading">Heading</ng-container>
    <div class="body">
        <h2>Body</h2>
        <p>Some content here...</p>
    </div>
</bootstrap-panel> -->

<!-- <like
    [likesCount]="tweet.likesCount"
    [isActive]="tweet.isLiked"
></like> -->


<div *ngIf="courses.length > 0; then coursesList else noCourses"></div>
<ng-template #coursesList>
    List of courses
</ng-template>
<ng-template #noCourses>
    No courses yet
</ng-template>